h3 {
  text-align: center;
  margin: 10px;
}
button {
  /* height: 30px;
  width: 30px; */
  color: white;
  outline: none;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
    padding: 5px 10px;

}

.btn-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  background-color: azure;
  margin: 10px;
}

/* 
button.current {
  box-shadow: 0 0 0 2px white,
    0 0 0 4px black;
} */
#button-save {
  background-color: green;
  /* border-radius: 10px; */
}

#button-delete {
  background-color: rgb(185, 14, 14);
    border-radius: 10px;
  }
  
  input {
    border-radius: 15px;
    padding: 0 10px;
    /* text-align: center; */
    line-height: 30px;
    margin: auto;
    border: 1px solid black;
    width: 80%;
    /* padding: 5px; */
  }
  
  .input {
    margin: 0 auto;
    text-align: center;
    /* width: 100%; */
  }
  
  
  img {
    width: 90%;
}